html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../bg1.jpeg') no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
    margin: 0 auto;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0;
    top: 0;
    font-family: 'Coda', cursive;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1 {
    font-weight: 500;
    font-size: xx-large;
    color: rgb(8, 8, 8);
    padding: 10px;
    border-radius: 20px;
    text-align-last: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 600px;
    min-height: 700px;
    backface-visibility: visible;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 200px;
    width: 200px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border: 4px solid #000;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    border: 3px solid green;
}

.deck .card img {
    display: none;
    width: 100%;
    height: 100%;
    
}

.deck .card.open.show img {
    display: block;
}


/*
 * Styles for the Score Panel
 */
 .score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255); 
    padding: 10px; 
    border-radius: 20px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.gold-star {
    color: gold;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/* Popup */
.popup {
    background: url('../bg1.jpeg') no-repeat center center fixed; 
    background-size: cover;
    z-index: 1;
    display: none;
    margin: 0 auto;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0;
    top: 0;
}

.content {
    padding: 10px;
    font-size: 35px;
    margin-top: 10%;
    height: 100%;
    width: 100%;
    text-align: center;
    animation: contentAnimation 1s ease-in-out;
}

.close {
    color: #000;
    font-size: 35px;
    font-weight: bold;
    transition: color 0.3s ease;
    background-color: rgb(57, 131, 57);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(57, 131, 57);
}

#rating {
    font-size: 35px; /* Adjust this value to the size you want */
    background-color: rgb(94, 90, 90);
    border-radius: 10%;
}

#moves {
    font-size: 35px; /* Adjust this value to the size you want */
}

#timer {
    font-size: 35px; /* Adjust this value to the size you want */
}

audio {
    display: none;
  }


@keyframes contentAnimation {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

